@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <title>Кобцев В.В.</title>
    <link rel="stylesheet" href="../css/home.css" />
  </head>

  <body class="body">

    <!-- Блок content -->
    <div class="content">
      <h1 class="title">Главная страница</h1>
      <div class="cards">
          <div class="card vk">
            <div>
              <img
                class="card__img"
                src="../image/VK.jpg"
                alt="Just image XD"
              />
            </div>
            <p class="card__title text-light">Моя личная страница VK.</p>
            <a
              href="https://vk.com/kobtsev_vlad"
              class="a__btn"
              target="_blank"
            >
              <button class="card__add">Перейти</button>
            </a>
          </div>
          <div class="card GitHub">
            <div>
              <img
                class="card__img"
                src="../image/аватар.png"
                alt="Just image XD"
              />
            </div>
            <p class="card__title text-light">GitHub: DriveFallen</p>
            <a
              href="https://github.com/DriveFallen"
              class="a__btn"
              target="_blank"
            >
              <button class="card__add">Перейти</button>
            </a>
          </div>
          <div class="card instagram">
            <div>
              <img
                class="card__img"
                src="../image/instagram.jpg"
                alt="Just image XD"
              />
            </div>
            <p class="card__title text-light">Мой instagram</p>
            <a
              href="https://www.instagram.com/vlad.kobtsev_/"
              class="a__btn"
              target="_blank"
            >
              <button class="card__add">Перейти</button>
            </a>
          </div>
          <div class="card hh">
            <div>
              <img
                class="card__img"
                src="../image/hh.png"
                alt="Just image XD"
              />
            </div>
            <p class="card__title text-light">Моё резюме на hh.</p>
            <a
              href="https://hh.ru/resume/2c97c279ff0bf9e96f0039ed1f305564385167"
              class="a__btn"
              target="_blank"
            >
              <button class="card__add">Перейти</button>
            </a>
          </div>
      </div>
  </body>